.header__nav{
    display: flex;
    overflow: hidden;
}
.header__logo{
    flex: 1;
    display: flex;
    position: relative;
    padding: 25px;
}
.header__logo-overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    background-color:  brown;
    z-index: -1;


}
.header__logo h4{
    padding-left: 45px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    opacity: 0.8;


}
.header__menu-mobile{
    display: none;
    gap: 20px;
    position: relative;
}
.header__menu, .header_menu-mobile{
    padding: 20px;
    flex: 1.263;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
    list-style: none;
}

.header__menu li{
    font-weight: 500;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
    margin-left: 2rem;
}
.header__menu li img{
    width: 24px;
    height: 24px;
    object-fit: contain;
}